{
    "extends": "stylelint-config-standard",
    "rules": {
        "selector-class-pattern": [ null, { "severity": "warning" }],
        "no-descending-specificity" : [ null, { "severity": "warning" }],
        "custom-property-pattern" : [ null, { "severity": "warning" }]

    }
}
